{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Categories</li>
{% endblock %}

{% block content %}
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>Category</th>
            <th>Threads</th>
            <th>Posts</th>
            <th>Last Post</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>
                    <a href="{% url 'category_threads' category.pk %}">{{ category.category_name }}</a>
                    <small class="text-muted d-block">{{ category.description }}</small>
                </td>
                <td class="align-middle">
                    {{ category.threads.count }}
                </td>
                <td class="align-middle">
                    {{ category.get_posts_count }}
                </td>
                <td class="align-middle">
                    {% with post=category.get_last_post %}
                        {% if post %}
                            <small>
                                <a href="{% url 'thread_posts' category.pk post.forum_thread.pk %}">
                                    By {{ post.owner.username }} at {{ post.creation_date }}
                                </a>
                            </small>
                        {% else %}
                            <small class="text-muted">
                                <em>No posts</em>
                            </small>
                        {% endif %}
                    {% endwith %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
