{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active bg-dark">Home</li>
{% endblock %}

{% block content %}

    {% for category in categories %}
        <div class="container">
            <div class="card">
                <div class="row justify-content-between">
                    <div class="col-md-6">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{% url 'category_threads' category.pk %}">{{ category.category_name }}</a>
                            </h4>
                            <p class="card-text">{{ category.description }}</p>
                        </div>
                    </div>
                    <div class="col-md-3 text-md-right">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>
                                    <small class="text-muted">
                                        <span>{{ category.threads.count }}</span>
                                        <span> threads</span>
                                    </small>
                                </li>
                                <li>
                                    <small class="text-muted">
                                        <span>{{ category.get_post_count }}</span>
                                        <span> posts</span>
                                    </small>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 text-md-left">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                {% with post=category.get_last_post %}
                                    {% if post %}
                                        <li>
                                            <small class="text-muted">
                                                <span><a
                                                        href="{% url 'thread_posts' category.pk post.forum_thread.pk %}">
                                                    {{ post.forum_thread.thread_name }}</a>
                                                    </span>
                                            </small>
                                        </li>
                                        <li>
                                            <small class="text-muted">
                                                <span>last update</span>
                                            </small>
                                        </li>
                                    {% else %}
                                        <small class="text-muted">
                                            <em>No posts</em>
                                        </small>
                                    {% endif %}
                                {% endwith %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p></p>
    {% endfor %}

{% endblock %}
