{% extends 'base.html' %}

{% block title %}
    {{ category.category_name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active">{{ category.category_name }}</li>
{% endblock %}

{% block content %}

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>Subject</th>
            <th>Owner</th>
            <th>Posts</th>
            <th>Views</th>
            <th>Last Update</th>
        </tr>
        </thead>
        <tbody>
        {% for thread in category.threads.all %}
            <tr>
                <td><a href="{% url 'thread_posts' category.pk thread.pk %}">{{ thread.thread_name }}</a></td>
                <td>{{ thread.owner.username }}</td>
                <td>{{ thread.posts.count }}</td>
                <td>{{ thread.views }}</td>
                <td>{{ thread.update_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="mb-4">
        <a href="{% url 'new_thread' category.pk %}" class="btn btn-primary">New Thread</a>
    </div>

{% endblock %}