{% extends 'base.html' %}

{% load static %}

{% block title %}{{ thread.subject }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a
            href="{% url 'category_threads' thread.category.pk %}">{{ thread.category.category_name }}</a></li>
    <li class="breadcrumb-item active">{{ thread.thread_name }}</li>
{% endblock %}

{% block content %}

    {% for post in thread.posts.all %}
        <div class="card mb-2 {% if forloop.first %}border-dark{% endif %}">
            {% if forloop.first %}
                <div class="card-header text-white bg-dark py-2 px-3">{{ thread.thread_name }}</div>
            {% endif %}
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-2">
                        <img src="{% static 'img/default_avatar.png' %}" alt="{{ post.owner.username }}" class="w-100">
                        <ul class="list-unstyled">
                            <li>
                                <small><span><b>{{ post.owner.username }}</b></span></small>
                            </li>
                            <li>
                                <small><span>Posts: {{ post.owner.posts.count }}</span></small>
                            </li>

                        </ul>
                    </div>
                    <div class="col-10 align-items-center ">
                        <div class="flex-row">
                            {{ post.content }}
                        </div>
                            <div class="flex-row text-md-right">
                                <small class="text-muted ">{{ post.creation_date }}</small>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


    <div class="mb-4">
        <a href="{% url 'reply_thread' thread.category.pk thread.pk %}" class="btn btn-primary" role="button">Reply</a>
    </div>


{% endblock %}